<div [ngClass]="{'schedule-container-x': axis === 'x', 'schedule-container-y' : axis === 'y' }">
    <app-hours-timeline [unit]="unit" [timeUnits]="timeUnits" [axis]="axis" ></app-hours-timeline>
    <app-item-list [unit]="unit" [day]="1" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="2" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="3" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="4" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="5" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="6" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="7" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>
    <app-item-list [unit]="unit" [day]="8" [timeUnits]="timeUnits" [axis]="axis"></app-item-list>

</div>

{{unit}}