.schedule-container-y {
  display: flex;
  app-item-list {
    display: block;
    flex: 1;
    margin-right: 2rem;
  }
}

.schedule-container-x {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 5rem;
  border: 1px solid lightgray;
  app-item-list {
    display: block;
    flex: 1;
  }
  overflow: hidden;
}

.schedule-grid-container {
  background: repeating-linear-gradient(
    90deg,
    white,
    white 59px,
    lightgray 0px,
    lightgray 60px
  );
}
