:host {
  display: block;
  width: max-content;
  height: max-content;
  transform: skew(-15deg) translateX(30px);
  height: 5rem;
  position: absolute;

  .placeholder {
    opacity: 0.5;
    position: absolute;
    height: 5rem;
    background-color: lightgray;
  }
}
