<div class="item-list-container">
 <div *ngIf="axis === 'x'" class="placeholder" [style.width.px]="timeUnits * unit">
  <app-item-x 
  *ngFor="let task of (service.tasks$ | async).get(day); let i = index;trackBy:identify"

  class="task-x"
  [style.background-color]="color$ | async"
  [model]="task" 
  [unit]="unit" 
  [axis]="axis"
  [index]="i"
  [parentWidth]="timeUnits" 
  [forbiddenIndexes$]="forbiddenIndexes$"
  [allowedIndexes$]="allowedIndexes$"
  [parentId]="id"   
  (freeSpace)="onFreeSpace($event)"
  (dragStartEvent)="onItemDragStart(i)"></app-item-x>
  <div class="room-id" [style.width]="unit + 'px'" [style.border-left-color]="color$ | async">{{id}}</div>
</div>
</div>