<div class="item-list-container">
 <div class="placeholder" [style.width.px]="itemListWidth" [style.height.px]="itemHeight">
  <app-item-x 
  *ngFor="let task of (service.items$ | async).get(index); let i = index; trackBy:identify"
  class="task-x"
  [style.background-color]="task.color"
  [style.height.px]="itemHeight"
  [model]="task" 
  [index]="i"
  [forbiddenIndexes$]="forbiddenIndexes$"
  [allowedIndexes$]="allowedIndexes$"
  [parentId]="id"   
  (freeSpace)="onFreeSpace($event)"></app-item-x>
  <div class="room-id" [style.height.px]="itemHeight" [style.width.px]="unit" [style.border-left-color]="color">{{id}}</div>
</div>
</div>