.task-y {
  border: 1px solid blue;
  height:5rem;
  width:100%;
  display:block;
  position:absolute;
}

.task-x {
  border: 1px solid blue;
  height:100%;
  width:5rem;
  display:block;
  position:absolute;
}

.placeholder {
  height:100%;
  width:5rem;
  background-color:cyan;
  position:absolute;
  z-index:1;
  // transition: left 0.1s linear;
}