.task-y {
  border: 1px solid blue;
  height: 5rem;
  width: 100%;
  display: block;
  position: absolute;
}

.task-x {
  // transform: skew(-20deg);
}

.placeholder {
  height: 5rem;

  // transition: left 0.1s linear;
  position: relative;
  height: 5rem;
}

.animated {
  transition: all 0.3s ease-out;
}

:host {
  width: inherit;
}

.room-id {
  position: absolute;
  height: 5rem;
  top: -1px;
  border: 1px solid lightgray;
  border-left-width: 0.5rem;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  background-color: white;
}
